
<ion-app >
  <ion-header>
    <ion-toolbar color="warning">
      <ion-title color="light">Aloha Checkin</ion-title>
    </ion-toolbar>
    <ion-toolbar color="warning">
      <ion-label color="light">Identification</ion-label>
    </ion-toolbar>
  </ion-header>

  
  <form id="container" [formGroup]="loginForm" (ngSubmit)="login()"  class="ion-padding ion-text-center">
    <div>
      <label class="ion-padding"><h1>Saisissez votre code événement</h1></label>
      <ion-item class="ion-padding">
        <ion-input name="input" type="text" color="dark" formControlName="codeEvenement"></ion-input>
      </ion-item>
    </div>
    <ion-button type="submit" class="ion-padding" color="warning">
      <ion-label color="light">Se connecter</ion-label>
    </ion-button>
  </form>

  <ion-footer class="ion-no-border">
    <ion-toolbar class="ion-text-center">
      <ion-label >Version 1.0</ion-label>
    </ion-toolbar>
    <ion-toolbar class="ion-text-center">
      <ion-label > Développé par Mediactive Events </ion-label>
    </ion-toolbar>
  </ion-footer>
</ion-app>